/* header {
    display: inline-block;
} */


/* Header css */
header {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #0079C0;
    border-top: 10px solid #0079C0;
    height: var(--header-height);
}

header a {
    display: flex;
    justify-content: center;
}

header a img {
    width: 60%;
}

header button {
    height: 100%;
    border: none;
    border-left: lightgrey 1px solid;
    padding: 0 5%;
    background-color: transparent;

    display: flex;
    flex-flow: column;
    align-items: center;
}

header button p {
    text-transform: uppercase;

    font-size: 14px;
    font-family: 'Source Sans Pro', 'Raleway', 'sans-serif';
}

header button img {
    width: 70%;
}
/* header css end */

/* How the nav items display */

nav {
    height: var(--after-header-height);
}

nav a {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    display: block;

    width: max-content;
}

nav .expandable > div:first-child div a {
    font-weight: 900;
    text-transform: uppercase;
}

nav .expandable {
    margin: 0;
}

nav div, nav .expandable, nav .expandable > div:first-child, nav .expandable div:last-child a {
    width: 100%;
}

nav .expandable > div:first-child, #menu .expandable > div:last-child a {
    border-bottom: darkslategray 1px solid;
}

nav .expandable > div:last-child {
    background-color: #FAFAFA;
}

nav .expandable > div:first-child, nav .expandable > div:last-child a {
    padding: 2%;
}

nav .expandable > div:last-child a {
    padding-left: 5%;
}