body {
    height: 100vh;
    margin: 0;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: var(--raleway);
    text-align: center;
}

h1, h2, h3 {
    font-weight: 900;
    margin: 1em .25em;

}

a {
    color: black;
}

h1 {
    color: #0079c0;
}

h2 {
    font-size: 1.25em;
}

img {
    max-width: 100%;
}

img.icons {
    margin: 1em 0;
    width: var(--icon-size);
    height: var(--icon-size);
}

img.icons.large {
    width: var(--large-icon-size);
    height: var(--large-icon-size);
}

img.icons.small, .open_close_icon {
    width: var(--small-icon-size);
    height: var(--small-icon-size);
}

p {
    margin: 0;
    text-align: center;
    font-family: var(--raleway);
    font-size: 16px;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;
}

button {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

li {
    padding: .25em;
}

/* shopping links */
ul.shopping-links {
    list-style-type: none;

    display: flex;
    flex-flow: column;
    align-items: center;

}

.shopping-links li {
    width: 80%;
}

.shopping-links button {
    width: 100%;
    background-color: var(--cosequin-blue);
    border-radius: 5px;
    border: none;
    padding: .5em;
}

.shopping-links a {
    color: white;
    text-decoration: none;
}
/* end shopping links */

/* landing section */
.landing-section {
    background-image: url('https://s3.amazonaws.com/static.cosequin.com/ca/img/product-table-full-width.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 1.5em;

    /* height: var(--after-header-height); */
}

.landing-section img {
    max-width: 90%;
}
/* end landing section */

/* open why cosequin section*/
.why-cosequin div {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 60%;
}
/* close why cosequin section */

/* Why cosequin on the producct page */
.why-cosequin-product {
    /* width: 100%; */
    background-color: var(--light-grey);
    padding: .5em;
    margin-top: .5em;

    
}

.why-cosequin-product h2, .why-cosequin-product p {
    color: var(--cosequin-blue);
    margin: .25em 0;
}

.why-cosequin-product strong {
    font-size: 1.1em;
    font-weight: 900;
}

.why-cosequin-product .paw-list {
    list-style-image: url(https://s3.amazonaws.com/static.cosequin.com/ca/nmx_icons/icon_paw_print_solid.svg);
    display: block;

    width: 80%;
    margin-bottom: 1em;
}

.why-cosequin-product .paw-list li {
    font-family: var(--raleway);
    color: #333333;
    font-size: .9em;
}

.why-cosequin-product .paw-list li::marker {
    font-size: 2em;
}

/* close why cosequin on the product page */

/* custom horizontal rule */
.custom-horizontal-rule {
    display: flex;
    flex-direction: row ;
    align-items: center;

    width: 100%;
    margin: .5em auto;
    margin-bottom: 0;
}

.custom-horizontal-rule hr {
    flex-grow: 1;
    border-style: solid;
    border-color: var(--light-grey);
}

.custom-horizontal-rule img {
    flex-grow: 0;
    margin: 0 1em
}
/* close custom horizontal rule */

/* This will be for the expandable items */
.expandable {
    width: 90%;

    margin: .5em 0;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.expandable * {
    box-sizing: border-box;
}

.expandable div:first-child {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}

.expandable div:first-child img {
    margin-right: 1em;
}


/* probably comment this out */
.faq-section .expandable > *:last-child {
    border-radius: 0 0 5px 5px;
    padding: .5em .25em;
    max-width: 99%;
    margin: 0;
    background-color: var(--light-grey);
}

/* ========================== Question Answer Open ==========================*/
.faq-section .expandable div:first-child h3 {
    padding-left: .5em;
    margin: 0;
    text-align: left;
    font-size: .9em;
}

.faq-section .expandable div:first-child {
    color: white;
    background-color: var(--cosequin-blue);
    padding: .75em .25em;
    border-radius: 5px 5px 0px 0px;
}

/* ========================== Question Answer Close ==========================*/

/* ====================  Filter Section ====================*/

.filter {
    background-color: white;
    margin: 1em 0;
    width: 80%;
    border: 1px solid var(--cosequin-blue);
    /* border-radius: 10px; */
}

.filter.closed {
    border-color: darkgray;
}

.filter div:first-child {
    background-color: white;
    border-radius: 0;
    padding: .5em 0;
    border-bottom: 1px solid var(--cosequin-blue);
}

.filter div:first-child p {
    color: darkgrey;
    text-align: left;
    flex-grow: 1;
    margin-left: 1em;
}

.filter.closed div:first-child {
    border: none;
}

.filter div:last-child {
    background-color: white;

    width: 100%;
    display: flex;
    flex-flow: column;
    /* border-radius: 10px; */
}

.filter div:last-child h4 {
    color: var(--cosequin-blue);
    border-left: 3px solid var(--cosequin-blue);
    padding-left: 1em;

    text-align: left;

}

.filter div:last-child form {
    margin: 1em 0;
}

/* ====================  End Filter Section ====================*/

/*====================  Open Product Section ====================*/

.product {
    margin: 1em 0;

    display: flex;
    flex-flow: column;
    align-items: center;

    width: 60%;
    box-sizing: border-box;
}

.product > img {
    width: 75%;
}

.product .expandable {
    /* padding: 0; */
    /* border: var(--cosequin-blue) 1px solid; */
    border-radius: 10px;
}

.product .expandable div:first-child {
    border-radius: 10px 10px 0 0;
    padding: .5em;

    max-width: 100%;
}

.product .expandable.closed div:first-child {
    border-radius: 10px;
}

.product .expandable div:last-child {
    padding: 0;
    width: 100%;
    background-color: transparent;

    border: var(--cosequin-blue) 1px solid;
    border-top: none;

}

.product .expandable div:last-child li:not(:last-child) {
    border-bottom: var(--cosequin-blue) 1px solid;
}

.product .expandable div:last-child li {
    width: 100%;
    padding: 0;
}

.product .expandable div:last-child a {
    display: block;
    font-size: 20px;
    /* width: 100%; */
    text-align: center;
    padding: .5em 0;
}

/*====================  End Product Section ====================*/

/* this will be for product details */

.product-details > div {
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.product-details .expandable div:last-child {
    padding: 0 1em 0 .5em;
}

.product-details h5, .product-details p {
    text-align: left;
}

.product-details h5 {
    color: var(--cosequin-light-blue);
    margin: .75em 0;
}

.product-details caption {
    color: var(--cosequin-light-blue);
    font-weight: 500;
    font-family: var(--source-sans-pro);
    text-transform: uppercase;

    margin: .5em 0;
}

.product-details table {
    border-collapse: collapse;
}

.product-details tr, .product-details td {
    border: 1px solid black;
    border-collapse: collapse;
}

.product-details .arrow {
    font-size: 10px;
}

.product-details td, .product-details th {
    /* font-family: var(--raleway); */
    text-align: center;
    padding: .25em;
}

.active-ingredients tr:nth-child(even) {
    background-color: var(--light-grey);
}

.directions tr:nth-child(odd) {
    background-color: var(--light-grey);
}

.directions th {
    background-color: var(--cosequin-blue);
    color: white;

    font-family: 'Roboto Slab', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
}

/* end product-details */

/* ========================== Open Active Ingredients ========================== */

.ingredients div {
   max-width: 80%;
}

.ingredients h3 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 20px;

    margin: 1.5em 0;
    color: var(--cosequin-blue)
}

.ingredients p {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.ingredients strong {
    color: var(--cosequin-blue);
    font-weight: 700;
}

.ingredients .emphasized {
    margin: 1.5em 0;

    border-top: var(--cosequin-blue) 2px solid;
    border-bottom: var(--cosequin-blue) 2px solid;

    padding-top: .5em;
    padding-bottom: 1em;
}
/* ========================== Close Active Ingredients ========================== */

/* This is for the final where to buy call */

.where-to-buy {
    margin: 1.5em 0;
}

.where-to-buy h3 {
    color: var(--cosequin-blue);
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

/* Final Where to Buy call end */

/* this will be for qa */

/* qa end */

/* this will be for the footer */

/* general div formatting */
footer > div:first-child {
    background-color: var(--cosequin-blue);

    padding: .5em;
    padding-bottom: 4em;


    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--white);
}

/* targeted towards Contact Us */
footer > div:first-child > p {
    text-transform: uppercase;
    font-weight: bolder;

    margin-right: auto;

    border-left: var(--white) 2px solid;
    padding-left: .5em;
}

footer .logo {
    width: 65%;

    padding: .5em 0;

    margin: 2em 0;

    border-bottom: var(--white) 1px solid;
}

.contact-footer-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-footer-div div {
    display: flex;
    flex-direction: row;
    margin: .25em .5em;
}

.contact-footer-div p {
    padding-left: .5em;
    text-align: left;
}

/* footer > div:first-child img {
    padding: 0 .25em;
} */

footer > div:last-child {
    background-color: var(--footer-blue);

    padding: 2em .5em;
    color: var(--white);
}

footer > div:last-child p {
    margin-bottom: 1em;
}

footer > div:last-child a {
    font-family: 'Source Sans Pro', sans-serif;

    text-transform: uppercase;
    text-decoration: none;
    color: lightgray;

    font-size: .5em;
    font-weight: 400;
}



/* THIS WILL BE FOR SPECIFIC ITEM CLASS RULES */

li.location {
    list-style-image: url('https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/google_font_location.svg');
}

li.phone {
    list-style-image: url('https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/google_font_location.svg');
}

.uppercase {
    text-transform: uppercase;
}


/* Section where Cosequin products are laid on top of a background */
.girl-and-dog {
    background-image: url('https://s3.amazonaws.com/static.cosequin.com/ca/img/section-Steps-of-Life-Video.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    
    height: 25em;

    margin-top: 2em;
    margin-bottom: 4em;
}

.girl-and-dog img {
    position: relative;
    bottom: -13em;
    width: 90%;
}

/* ============================== END SECTION ============================== */

/* ========================== Start Regulatory =========================== */
.regulatory::after {
    content: "\00AE";
    /* vertical-align: super; */
    font-size: 75%;
    position: relative;
    top: -.5em;
    line-height: 0;
}

.regulatory {
    text-transform: uppercase;
}
/* ==================================== End Regulatory  ====================================*/



/* showing / hiding items */
.closed div:last-child {
    opacity: 0;
    position: absolute;
    pointer-events: none;   
    border: none;
}

.closed div:last-child * {
    pointer-events: none;   
}

.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;   
    border: none;
    pointer-events: none;
}
/* 
.viewable {
    opacity: 1;
    position: static;
} */

.hide-overflow {
    overflow: hidden;
}
/* showing / hiding items close */


/* =================================== QA Section ================================ */

.float-right {
    width: 100%;
}

.float-right > * {
    float: right;
    margin-right: 2em;
}


/* =================================== End QA Section ================================ */