body {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    /* font-family: var(--raleway); */
    text-align: center;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 5% 2.5%;

    /* font-family: 'Roboto Slab', sans-serif; */
}

a {
    color: black;
}

h1 {
    color: var(--cosequin-blue);
    font-size: 28px;
    font-family: 'Roboto Slab', sans-serif;
}

/* h2 {
    color: var(--cosequin-blue);
    font-size: 24px;
    font-family: var(--source-sans-pro);
} */

h2 {
    font-family: var(--raleway);
    color: black;
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-family: var(--raleway);
}

img {
    max-width: 100%;
}

picture {
    display: flex;
    justify-content: center;
}

img.icons {
    margin: 1em 0;
    width: var(--icon-size);
    height: var(--icon-size);
}

img.icons.large {
    width: var(--large-icon-size);
    height: var(--large-icon-size);
}

img.icons.small, .open_close_icon {
    width: var(--small-icon-size);
    height: var(--small-icon-size);
}

p {
    margin: 0;
    text-align: center;
    font-family: var(--raleway);
    font-size: 16px;
}

section {
    display: flex;
    flex-flow: column;
    align-items: center;

    /* margin: 5% 0; */
}

main section:last-child {
    margin-bottom: 10%;
}

/* section > * {
    margin: 0 auto;
} */

button {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 3% 0;
    width: 100%;
}

li {
    padding: .25em;
}

/* shopping links */
ul.shopping-links {
    /* margin: 3% 0; */

    list-style-type: none;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.shopping-links li {
    /* width: 80%; */
}

.shopping-links button {
    /* width: 100%; */
    background-color: var(--cosequin-blue);
    border-radius: 5px;
    border: none;
    padding: 15px 7px;
}

.shopping-links a {
    color: white;
    text-decoration: none;

    font-weight: 700;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* end shopping links */

/* landing section */
.landing-section {
    background-image: url('https://s3.amazonaws.com/static.cosequin.com/ca/img/product-table-full-width.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 5%;

    margin-top: 0;
}

.landing-section img, .where-to-buy img {
    max-width: 90%;
    max-height: 40vh;
}

.landing-section ul {
    padding-top: 0%;
}

.landing-section .emphasized {
    text-shadow: -1px 1px black,
                 1px 1px black,
                 1px -1px black,
                 -1px -1px black;
}
/* end landing section */

/* open why cosequin section*/
.why-cosequin div {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.why-cosequin > div div {
    width: 50%;
}

.why-cosequin > div {
    width: 100%;
}

.why-cosequin h2 {
    color: black;
    font-size: 20px;
    font-weight: 700;
}
/* close why cosequin section */

/* Why cosequin on the producct page */
.why-cosequin-product {
    /* width: 100%; */
    background-color: #F2F7FA;
    padding: 2.5%;
    margin-top: 2.5%;    
}

.why-cosequin-product h2 {
    font-weight: 400;
    font-size: 30px;
}

.why-cosequin-product strong {
    font-weight: 700;
    font-size: 20px;
}

.why-cosequin-product h2, .why-cosequin-product p, .why-cosequin-product li {
    font-family: 'Source Sans Pro', sans-serif;
}

.why-cosequin-product h2, .why-cosequin-product > p {
    color: var(--cosequin-blue);
    margin: 1% 0;
    line-height: 35px;
}

.custom-bullet-list {
    width: 100%;

    margin: 1.5% 3%;

    display: flex;
    align-items: center;
}

.custom-bullet-list p {
    text-align: left;
}

.custom-bullet-list img {
    margin-left: 1%;
    margin-right: 2%;
    max-width: 24px;
    max-height: 24px;
}



/* close why cosequin on the product page */

/* custom horizontal rule */
.custom-horizontal-rule {
    display: flex;
    flex-direction: row ;
    align-items: center;

    width: 80%;
    margin: 5% auto;
}

.custom-horizontal-rule hr {
    flex-grow: 1;
    border-style: solid;
    border-color: var(--light-grey);
}

.custom-horizontal-rule img {
    flex-grow: 0;
    margin: 0 10%;
}
/* close custom horizontal rule */

/* This will be for the expandable items */
.expandable {
    width: 90%;

    margin: 1% 0;

    display: flex;
    flex-flow: column;
    align-items: center;
}

.expandable * {
    box-sizing: border-box;
}

.expandable > div:first-child {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;
}



.expandable > div:last-child p {
    text-align: left;
}

.faq-section .expandable > div:last-child p {
    padding: 2.5% 2.5% 10% 2.5%;
}

.product-details .expandable > div:last-child p {
    padding: 1.5%;
}
/* .expandable > div:first-child img {
    margin-right: 1em;
} */


/* ========================== Question Answer Open ==========================*/


.faq-section {
    margin-top: 0;
}

.faq-section h2 {
    margin-top: 2%;
    color: var(--cosequin-blue);
}

.faq-section h3 {
    font-size: 16px;
    margin: 1%;
    text-align: left;
}

.faq-section button {
    border: none;
    text-transform: uppercase;
    font-size: 10px;
}

.faq-section > div {
    margin: 2.5% 0;
    width: 90%;
}

/* probably comment this out */
.faq-section .expandable > div:last-child {
    border-radius: 0 0 5px 5px;
    padding: .5em .25em;
    margin: 0;
    background-color: var(--light-grey);

    display: flex;
    justify-content: center;
}


.faq-section .expandable div:first-child {
    color: white;
    background-color: var(--cosequin-blue);
    padding: 2.5%;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}

.faq-section .expandable.closed div:first-child {
    border-radius: 5px;
}


/* ========================== Question Answer Close ==========================*/

/* ====================  Filter Section ====================*/

.filter {
    width: 80%;
    border: 1px solid var(--cosequin-blue);
    margin: 5% 0;
}

.filter.closed {
    border-color: darkgray;
}

.filter > div:first-child {
    
    width: 100%;

    padding: 2% 5%;

    border-bottom: var(--cosequin-blue) 1px solid;
}

.filter > div:first-child p {
    color: darkgrey;
    text-align: left;
    flex-grow: 1;
}

.filter.closed > div:first-child {
    border: none;

}

.filter > div:last-child {
    /* background-color: white; */

    margin-top: 5%;
    margin-bottom: 10%;

    width: 85%;
    display: flex;
    flex-flow: column;
    /* border-radius: 10px; */
}

.filter > div:last-child h4 {
    color: var(--cosequin-blue);
    border-left: 3px solid var(--cosequin-blue);
    padding-left: 1em;


    text-align: left;

    font-size: 16px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    text-transform: uppercase;

}

.filter form {
    margin: 1em 0;
}

.filter input {
    margin: 0;
}

.filter label {
    font-family: 'Source Sans Pro', sans-serif;
}

input[type="radio"]:checked ~ label {
    font-weight: 700;
}

/* ====================  End Filter Section ====================*/

/*====================  Open Product Section ====================*/

.product {
    margin: 7.5% 0;

    display: flex;
    flex-flow: column;
    align-items: center;

    width: 60%;

    box-sizing: border-box;
}

.product > img {
    width: 50%;
}

.product p, .product h4, .product a {
    font-family: 'Roboto', sans-serif;
}

.product > h4, .product > p {
    font-size: 16px;

    margin-bottom: 1%;
}

.product > p {
    font-weight: 300;

    margin-top: 5%;
}

.product > h4 {
    font-weight: 600;
}

.product > a {
    font-size: 14px;
    color: #606060;
}

.product .expandable {
    margin: 5% 0;
}

.product .expandable div:first-child p {
    margin-right: 15%;
}

.product .expandable div:first-child {
    justify-content: flex-end;
}


/* ============ Product Drop Down ============ */

.product .expandable {
    /* border: var(--cosequin-blue) 1px solid; */
    border-radius: 10px;
    box-sizing: border-box;

    width: 80%;
}

.product .expandable > div:first-child {
    border-radius: 10px 10px 0 0;
    padding: 5%;
    width: 100%;

    background-color: var(--cosequin-blue);
}

.product .expandable > div:first-child p {
    color: white;
    font-size: 16px;
}

.product .expandable.closed div:first-child {
    border-radius: 10px;
}

.product .expandable div:last-child {
    width: 100%;

    border: var(--cosequin-blue) 2px solid;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.product .expandable ul {
    margin: 0;
}

.product .expandable div:last-child li:not(:last-child) {
    border-bottom: var(--cosequin-blue) 2px solid;
}

.product .expandable div:last-child li {
    width: 100%;
    padding: 0;
}

.product .expandable div:last-child a {
    display: block;
    font-size: 16px;
    /* width: 100%; */
    text-align: center;
    padding: 2% 0;
}

/* ============ Product Drop Down Close ============ */

/*====================  End Product Section ====================*/

/* this will be for product details */
.product-details > div {
    width: 90%;

    display: flex;
    flex-flow: column;
    align-items: center;

    border: var(--cosequin-blue) 1px solid;
}

.product-details p {
    text-align: left;
}

.product-details h2 {
    margin-bottom: 5%;
}

.product-details strong {
    color: var(--cosequin-light-blue);
    margin: 5% 0;
}

.product-details caption {
    color: var(--cosequin-light-blue);
    font-weight: 500;
    font-family: var(--source-sans-pro);
    text-transform: uppercase;

    margin: 2.5% 0;
}

.product-details h3 {
    color: var(--cosequin-blue);
    font-size: 16px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    margin: 0;
}

.product-details .expandable {
    width: 100%;
    border: var(--cosequin-blue) 1px solid;
    margin: 0;

    padding: 3% 0;
}

.product-details .expandable div:last-child {
    padding: 2.5%;
}


/* Tables */
.product-details table {
    border-collapse: collapse;
}

.product-details tr, .product-details td {
    border: 1px solid black;
}

.product-details .arrow {
    font-size: 10px;
}

.product-details td, .product-details th {
    /* font-family: var(--raleway); */
    text-align: center;
    padding: .25em;
}








/* Specific Tables */

.active-ingredients tr:nth-child(even) {
    background-color: var(--light-grey);
}

.directions tr:nth-child(odd) {
    background-color: var(--light-grey);
}

.directions th {
    background-color: var(--cosequin-blue);
    color: white;

    font-family: 'Roboto Slab', 'sans-serif';
    font-weight: 400;
    font-size: 16px;
}

/* end product-details */

/* ========================== Open Active Ingredients ========================== */

.ingredients div > div{
   max-width: 80%;
}

.ingredients h2 {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 20px;

    margin: 5% 0;
    color: var(--cosequin-blue)
}

.ingredients p {
    width: 90%;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.ingredients strong {
    color: var(--cosequin-blue);
    font-weight: 700;
}

.ingredients .emphasized {
    text-align: center;
    margin: 1.5em 0;

    border-top: var(--cosequin-blue) 2px solid;
    border-bottom: var(--cosequin-blue) 2px solid;

    padding-top: 2.5%;
    padding-bottom: 5%;
}

.ingredients > div {
    background-color: #F2F7FA;
    width: 100%;

    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 2.5% 0;

}
/* ========================== Close Active Ingredients ========================== */

/* This is for the final where to buy call */

.where-to-buy {
    margin: 1.5em 0;
}

.where-to-buy h3 {
    color: var(--cosequin-blue);
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

/* Final Where to Buy call end */

/* this will be for qa */

/* qa end */

/* this will be for the footer */

/* general div formatting */
footer > div:first-child {
    border-top: solid 1vh var(--footer-blue);


    background-color: var(--cosequin-blue);


    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--white);
}

/* targeted towards Contact Us */
footer > div:first-child > p {

    text-transform: uppercase;
    font-weight: bolder;
    
    text-align: left;
    margin-right: auto;
    padding-left: 3%;
    margin-left: 7%;
    
    

    border-left: var(--white) 2px solid;
}

footer .logo {
    width: 65%;

    margin: 10% 0;

    border-bottom: var(--white) 1px solid;
}

.contact-footer-div {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-bottom: 20%;
}

.contact-footer-div div {
    display: flex;
    margin: 2.5% 5%;
    width: 100%;
}

.contact-footer-div p {
    padding-left: 2.5%;
    text-align: left;
}

/* footer > div:first-child img {
    padding: 0 .25em;
} */

footer > div:last-child {
    background-color: var(--footer-blue);

    display: flex;
    flex-flow: column;
    align-items: center;

    padding: 5% 1%;
    color: var(--white);
}

footer > div:last-child p {
    margin-bottom: 1em;
}

footer > div:last-child ul {
    display: flex;
    flex-flow: column;
    align-items: center;
}

footer > div:last-child a {
    font-family: 'Source Sans Pro', sans-serif;

    text-transform: uppercase;
    text-decoration: none;
    color: lightgray;

    font-size: 16px;
    font-weight: 400;
}



/* THIS WILL BE FOR SPECIFIC ITEM CLASS RULES */

li.location {
    list-style: url('https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/google_font_location.svg');
}

li.phone {
    list-style: url('https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/google_font_location.svg');
}

.uppercase {
    text-transform: uppercase;
}


/* Section where Cosequin products are laid on top of a background */
.girl-and-dog {
    background-image: url('https://s3.amazonaws.com/static.cosequin.com/ca/img/section_background_girl_and_dog.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 60vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 5%;
    margin-bottom: 15%;
}

.girl-and-dog picture {
    position: relative;
    top: 35%;
}

.girl-and-dog img {
    height: 25vh;
    max-width: 100%;
}

/* ============================== END SECTION ============================== */

/* ========================== Start Regulatory =========================== */
.regulatory::after {
    content: "\00AE";
    /* vertical-align: super; */
    font-size: 75%;
    position: relative;
    top: -.5em;
    line-height: 0;
}

.regulatory {
    text-transform: uppercase;
}
/* ==================================== End Regulatory  ====================================*/



/* showing / hiding items */
.closed > div:last-child, .closed > p:last-child {
    opacity: 0;
    position: absolute;
    pointer-events: none;   
    border: none;
}

.closed > *:last-child * {
    pointer-events: none;   
}

.hidden {
    opacity: 0;
    position: absolute;
    pointer-events: none;   
    border: none;
    pointer-events: none;
}
/* 
.viewable {
    opacity: 1;
    position: static;
} */

.hide-overflow {
    overflow: hidden;
}
/* showing / hiding items close */


/* =================================== QA Section ================================ */

.float-right {
    width: 100%;
}

.float-right > * {
    float: right;
    margin-right: 2em;
}


/* =================================== End QA Section ================================ */



/* Tablet Screen Size */
@media screen and (min-width: 820px) {
    header {
    }

    h1 {
        font-size: 46px;
    }

    p {
        width: 90%;
    }

    ul.shopping-links {
        flex-flow: row;
        justify-content: center;
    }

    img {
        max-width: 75%;
    }

    footer > div:first-child > * {
        max-width: 50%;
    }

    footer > div:first-child > p {
        margin-right: 0;
    }

    footer > div:last-child > p {
        text-align: left;
        text-indent: -14px;
    }

    footer > div:last-child .legal-list {
        flex-flow: row;
        justify-content: center;
    }

    footer > div:last-child .legal-list li {
        padding: 0 3%;
    }

    footer > div:last-child .legal-list li:nth-child(2) {
        border-left: var(--light-grey) 1px solid;
        border-right: var(--light-grey) 1px solid;
    }

    .faq-section h2 {
        margin: 0;
        font-size: 40px;
    }

    .faq-section h3 {
        font-size: 20px;
    }

    .custom-horizontal-rule {
        margin: 2.5% auto;
    }

    .girl-and-dog {
        height: 40vh;
        width: 100%;
    
        margin-top: 5%;
        margin-bottom: 10%;

        background-image: url("https://s3.amazonaws.com/static.cosequin.com/ca/img/section_background_girl_and_dog_focused.jpg");
    }

    .girl-and-dog img {
        position: relative;
        height: 25vh;
        top: 10px;
    }

    .landing-section .emphasized {
        text-shadow: none;
    }

    header a img {
        width: 100%;
    }

    #menuButton {
        flex-flow: row;
        border: none;
        margin: 0 3%;

        width: 20%;
    }

    #menuButton img {
        width: 30px;
    }

    #menuButton p {
        text-transform: none;
        margin: 0 auto;
        color: var(--cosequin-blue);
        font-weight: 700;
    }

    #menu .expandable > div:last-child {
        width: 100%;
    }

    .why-cosequin > div {
        flex-direction: row;
        justify-content: center;
    }

    .why-cosequin > div div {
        width: 25%;
    }
}