<footer>
    <div>
        <img class="logo" src="https://s3.amazonaws.com/static.cosequin.com/ca/img/nmx_labs_vet_sciences.png" alt="Nutramax Laboratories Veterinary Sciences, Inc">
        <p>Contact Us</p>
        <div class="contact-footer-div">
            <div>
                <img class="icon small" src="https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/place_white_18dp.svg" alt="Our Location"> <p>Quality Drive <br> Lancaster, SC 29720</p>
            </div>
            <div>
                <img class="icon small" src="https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/phone_white_18dp.svg" alt="Call"> <p><strong>Toll Free:</strong> +1 (888) 866-6442</p>
            </div>
            <div>
                <img class="icon small" src="https://s3.amazonaws.com/static.cosequin.com/ca/google_icons/phone_white_18dp.svg" alt="Call"> <p><strong>Local:</strong> +1 (803) 289-6000</p>
            </div>
            
        </div>    
    </div>
    <div>
        <p>
            <span style="color:red;">&#9660;</span>Source: Among retail brands in the U.S. Survey conducted among small animal veterinarians in the United States who recommended oral joint health supplements.
        </p>
        <ul class="legal-list">
            <li><a href="">International</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Terms Of Use</a></li>
        </ul>
    </div>
</footer>