<section class="landing-section">
    <h1><%- landing.header %></h1>
    <%- include('src/partials/shop-buttons') %>
    <%- include('src/partials/picture_format', {display: landing.image}); %>
</section>