<li class="shopping-links"><button><a href="amazonexample">Shop Now on Amazon.ca</a></button></li>
<li class="shopping-links"><button><a href="costcoexample">Shop Now on Costco</a></button></li>
<li class="shopping-links"><button><a href="petsmartexample">Shop Now on Petsmart</a></button></li>